In [1]:
import random
random.randrange(50), random.randrange(50,101), random.randrange(0,101,2)

(9, 79, 96)

In [2]:
random.randint(50,100)

71

In [3]:
weeks = ['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']
weeks

['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']

In [4]:
for test in weeks:
    print(test)

星期一
星期二
星期三
星期四
星期五
星期六
星期日

In [5]:
numbers = {'one':1, 'two':2, 'three':3}
numbers['one'], numbers['two'], numbers['three']

(1, 2, 3)

In [6]:
for num in numbers:
    print(f'key:{num}')
    print(f'value:{numbers[num]}')

key:one
value:1
key:two
value:2
key:three
value:3

In [7]:
type(numbers) , type(weeks)

(dict, list)

In [8]:
list((1,2,3))
list(range(50,60,2))

[50, 52, 54, 56, 58]

In [9]:
list1 = list()
list1

[]

In [10]:
list1.append("one")
list1

['one']

In [11]:
list1.insert(0,'two')
list1

['two', 'one']

In [12]:
list1.pop()
list1

['two']

In [13]:
list1.pop(0)
list1

[]

In [14]:
my_dict = {}
my_dict

{}

In [15]:
my_set = set()
my_set

set()

In [16]:
nums_set = {1,2,3,4,5,6,1,2,3,4,5,6}
nums_set

{1, 2, 3, 4, 5, 6}

In [17]:
len(nums_set), len(numbers)

(6, 3)

In [18]:
numbers

{'one': 1, 'two': 2, 'three': 3}

In [19]:
for a in numbers.keys():
    print(a)

one
two
three

In [20]:
for value in numbers.values():
    print(value)

1
2
3

In [21]:
for items in numbers.items():
    print(items)

('one', 1)
('two', 2)
('three', 3)

In [22]:
for key, value in numbers.items():
    print(key)
    print(value)
    print("=========")

one
1
=========
two
2
=========
three
3
=========